<%if(!!errorMessage){%>
    <%if(Array.isArray()(errorMessage)){%>
      <%  errorMessage.forEach(function(error){%>
        <div class="user-message user-message--error"><%=error.msg%></div>
        <%})%>
    <%}else{%>
          <div class="user-message user-message--error"><%=errorMessage%></div>
    <%}%>
<%}%>
